/* 
   the classview styles
*/

@import url("root.css");

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}
body {
    background-color: var(--color2);

}

h1 {
    color: var(--color1);
}

/* 
   these are the little
   class icons (one for each
   class the student is in)

   maybe we should change the name? 
   class is confusing...

   there will be alot of 
   styling for this i think
*/

.class {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 10px 10px;

    background-color: var(--color6);
    color: var(--color4);
}
.class-title {
    font-size: 20px ;

    font-weight: 800;
}
.class-number {

}
.class-info {
    margin-top: 10px;
}


.class:hover, .class:focus{
    background-color: var(--color4) ;
    color: var(--color6);
    cursor: pointer;
}

.class-time {

}

#new-class-icon-wrapper {
    display: inline-block;
    font-size: 100px;
    margin-left: 45px;
    margin-top: 15px;
}


h1 {
    margin-left: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


