/*
  This is the styles for class.html
  class1.html is outdated.
  the dummy class page
*/

@import url("root.css");

body {
    background: var(--color2);
}

h1 {
    color: var(--color1);
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    font-size: 3.5em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.back-button {
    margin-left: 35px;
    display: inline-block;
}

i.fas:hover{
    color: var(--color6);
}

table {
    width: 50%;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
}

th {
    background-color: var(--color6);
}
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: left;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}
/*
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
*/
td {
  padding-left: 10px;
}

tr {
    background-color: var(--color3);
}


tr:hover {
    background-color: var(--color6);
}
.auto-gen-note:hover {
    background-color: var(--color6);
    cursor: pointer;
}

.auto-gen-note-last:hover {
    background-color: var(--color6);
}
.auto-gen-note td {
    
}
.auto-gen-note-last {
    cursor: pointer;
}
.auto-gen-note-last td:first-child {
    border-bottom-left-radius: 10px;
}
.auto-gen-note-last td:last-child {
    border-bottom-right-radius: 10px;
}

.note {
    position: relative;
    width: 100px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 10px 10px;
    background-color: var(--color6);
    color: var(--color4);
}

.note-title {
    font-size: 20px;
    font-weight: 800;
}

.note-topic {
}

.note-date {
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--color6);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#left-forms {
    width: 22%;
    min-width: 260px;
    display: inline-block;
}