/*
  This is the styles for class1
  the dummy class page
*/

@import url("root.css");

body {
    background: var(--color2);
}

h1 {
    color: var(--color1);
    display: inline-block;
    margin-left: 10px;
}

.back-button {
    background-color: var(--color1);
    border-radius: 50%;
    color: white;
    text-align: center;
    display: inline-block;
}

table {
    width: 50%;
}

th {
    background-color: var(--color6);
}
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: left;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}
/*
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
*/
td {
  padding-left: 10px;
}

tr {
    background-color: var(--color3);
}


tr:hover {
    background-color: var(--color6);
}
.auto-gen-note:hover {
    background-color: var(--color6);
}

.auto-gen-note-last:hover {
    background-color: var(--color6);
}
.auto-gen-note td {
    
}

.auto-gen-note-last td:first-child {
    border-bottom-left-radius: 10px;
}
.auto-gen-note-last td:last-child {
    border-bottom-right-radius: 10px;
}
