@import url("root.css");

body {
    margin: 0px;
    background-color: var(--color6);
}
html, body {
    height: 100%;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

textarea {
    background-color: #88888888;
    width: 80%;
    height: 80%;
    max-height: 100%;
    overflow: none;
    resize: none;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px;
    border-radius: 8px;

    font-size: 20pt;
}

.back-button {
    /*
      This needs absolute positioning
      In order to achive the nice scroll
      effect and to not mess with the
      textarea / tree canvas
   */
    color: var(--color7);
    position: absolute;
    top: 2em;
    left: 2em;
}

.back-button:hover {
    color: var(--color2); 
}

.save-button {
    font-size: 3em;
    color: var(--color7);
    position: absolute;
    top: 2em;
    left: 0.8em;
}


.save-button:hover {
    color: var(--color2); 
}
