@import url("root.css");

body {
    margin: 0px;
    background-color: var(--color6);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

textarea {
    resize: none;
    background-color: #88888888;
    width: 60%;
    height: 50em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px;
    border-radius: 8px;

    font-size: 20pt;
}


