
/*
  styles for index.html
color scheme here:
https://color.adobe.com/cloud/aHR0cHM6Ly9jYy1hcGktYXNzZXRzLmFkb2JlLmlv/library/9a7523b8-61fd-4acd-806c-cb1ad0cf5e6e/theme/bf51844c-affd-4960-b65b-243095aff967/
*/

/*
  "global" "vars" Color Scheme
  TODO:
    use @import and have a global root.css file
*/
@import url("root.css");
/* this imports our color theme!
   sets custon faces:
   --color1
   --color2... 5
*/

body {
    background-color: var(--color2);

}

#login-form-wrapper {
    margin: auto;
    padding: 30px;
    width: 30%;
    min-width: 234.5px;
    text-align: center;
}
#login-form {
    height: 15%;
    text-align: left;
    min-width: 265px;
    padding: 20px;
    background-color: var(--color6);
    border-radius: 6px;;
    color: var(--color4);
}
#login-form-content{
  width: 180px;
  margin-right: 0px;
  display: inline-block;
}

#sign-in-button {
    margin: 5px;
    color: var(--color4);
}
#logo-wrapper{
  text-align:center;
  display: inline-block;
  margin-left: 20px;
}
#logo{
  max-width: 50px;
  height: auto;
}

h1 {
    color: var(--color1);
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;
}
