
/*
  styles for index.html
color scheme here:
https://color.adobe.com/cloud/aHR0cHM6Ly9jYy1hcGktYXNzZXRzLmFkb2JlLmlv/library/9a7523b8-61fd-4acd-806c-cb1ad0cf5e6e/theme/bf51844c-affd-4960-b65b-243095aff967/
*/

/*
  "global" "vars" Color Scheme
  TODO:
    use @import and have a global root.css file
*/
@import url("root.css");
/* this imports our color theme!
   sets custon faces:
   --color1
   --color2... 5
*/

body {
    background-color: var(--color2);

}

#login-form-wrapper {
    margin: auto;
    padding: 30px;
    width: 30%;
    min-width: 234.5px;
    text-align: center;
}
#login-form {
    height: 15%;
    text-align: left;
    min-width: 265px;
    padding: 20px;
    background-color: var(--color6);
    border-radius: 6px;;
    color: var(--color4);
}
#login-form-content{
  width: 180px;
  margin-right: 0px;
  display: inline-block;
}

#sign-in-button {
    margin: 5px;
    color: var(--color4);
}
#logo-wrapper{
  text-align:center;
  display: inline-block;
  margin-top:20px;
  margin-left: 20px;
  float: right;
}
#logo{
  max-width: 50px;
  height: auto;
}

#logo-wrapper{
  text-align:center;
  display: inline-block;
  margin-left: 20px;
}
#logo{
  max-width: 50px;
  height: auto;
}

h1 {
    color: var(--color1);
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;
}
.sign-in-label {
    color: var(--color4);
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;
}
.input-label {
    color: var(--color7);
}

/* 
   another modal...
   thanks be to W3 schools
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  background-color: var(--color6) ;
  border-radius: 8px;
}

#new-account-button {
    color: var(--color7);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#new-account-label {
    text-size: 30px;
    color: var(--color4);
}
